<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('common/header.ejs')%>
   </head>
   <body>
      <%-include('common/nav.ejs')%>
      <div class="jumbotron">
         <h3><i class="fas fa-credit-card"></i>&nbsp;Transfer</h3>
         <div class="withdraw_top">
            <div class="form-group"><label for="username_transfer">User Name:</label><input class="form-control" id="username_transfer" type="text" placeholder=""/></div>
            <div class="form-group"><label for="amount_transfer">Transfer amount</label><input class="form-control" id="amount_transfer" type="number" min="30" value="30" step="1"/></div>
            <div class="form-group"><small>Note: Transfer fee is 6%</small>
               <button class="btn btn-success" id="transfer_btn"><i class="fas fa-minus-square"></i>&nbsp;Transfer</button></div>
         </div>
      </div>
      <%-include('common/modals.ejs')%>
   </body>
</html>