.roulette-wrapper{
  position:relative;
  display:flex;
  justify-content:center;
  width:100%;
  margin:0 auto;
  overflow:hidden;
}

.roulette-wrapper .selector{
  width:3px;
  background:grey;
  left:50%;
  height:100%;
  transform:translate(-50%,0%);
  position:absolute;
  z-index:2;
}

.roulette-wrapper .wheel{
  display:flex;
}

.roulette-wrapper .wheel .roww{
  display:flex;
}

.roulette-wrapper .wheel .roww .card{
  height:75px;
  width:75px;
  margin:3px;
  border-radius:8px;
  border-bottom:3px solid rgba(0,0,0,0.2);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:1.5em;
}

.card.red{
  background:#F95146;
}

.card.black{
  background:#2D3035;
}

.card.green{
  background:#00C74D;
}

*{
  box-sizing:border-box;
}

.rollsHistory {
  /* display: flex;
  margin-left: 3rem;
  background-color: #060606;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  left: 0; */
  display: flex;
  background-color: #060606;
  padding: 5px;
  border-radius: 15px;
  position: absolute;
  left: 30%;
  margin: 1rem 0;
}

.rollsHistory .bhist {
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  line-height: 1.6rem;
  margin-right: 0.15rem;
}

.rollsHistory .bhist.black {
  background-color: #2D3035;
}

.rollsHistory .bhist.red {
  background-color: #F95146;
}

.rollsHistory .bhist.green {
  background-color: #00C74D;
}

.rollsHistory div:first-child {
  border: 1px solid white;
}

.roulette-info {
  text-align: center;
  font-size: 10px;
}

.roulette-balance {
  text-align: center;
  margin-bottom: -5px;
  margin-top: 15px;
  font-weight: bold;
}

.roulette-balance .gold {
  color: gold;
}

.roulette-roll-text div {
  color: white;
  font-weight: bold;
}
.box__head {
  margin-bottom: 2rem;
}
.box__title {
  color: #fff;
    font-size: 2.8rem;
    font-weight: 400;
    margin: 1rem 0 .5rem;
}
.box__descr {
    font-size: 1.6rem;
    color: rgba(255,255,255,.3);
    margin-bottom: 1rem;
}
.payments-collumn {
  margin-top: 4rem;
}
.payments-collumn__item{
  margin-bottom: 2rem;
}
.payments-collumn__link{
  display: block;
  text-align: center;
  padding: 2rem 1.5rem;
  height: 11.5rem;
  border-radius: .4rem;
  border: .2rem solid rgba(255,255,255,.1);
  background-color: rgba(255,255,255,.05);

}
.payments-collumn__link:hover {
  background-color: #003fe7;
  text-decoration: none;
}
.coinpayments_img {
    padding: 4px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    /* opacity: .3; */
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.payments-collumn__img {
    background: #fff;
    padding: 4px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    /* opacity: .3; */
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.payments-collumn__title {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.form-group {
  margin-bottom: 0;
}
.payeer-box {
  margin-top: 20px;
}
.super-font {
  font: 700 1.5rem "Proxima Nova",Arial,sans-serif;
  font-family: "Proxima Nova",Arial,sans-serif;
  /* text-transform: uppercase; */
  color: #fff;
}
.btn-magenta {
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: .2rem solid rgba(255,255,255,.1);
  background-color: rgba(255,255,255,.05);
}
.btn-magenta:hover {
  color: #fff;
  background: #003fe7;
}
@media only screen and (max-width: 1062px) {
  .roulette-wrapper .wheel .roww .card {
    height: 50px;
    width: 50px;
}
  .roulette-bets .red-bets .red-bet, .roulette-bets .green-bets .green-bet, .roulette-bets .black-bets .black-bet {
    padding: 5px!important;
    font-size: 16px!important;
  }
  .roulette-set-bet .form-group:nth-child(2) {
    margin-left: 5px!important;
  }
  .roulette-set-bet .form-group:nth-child(2) button:nth-child(1) {
    margin-right: 0!important;
  }
  .roulette-set-bet .btn {
    padding: 10px!important;
  }

}
@media only screen and (max-width: 924px) {
  body .Roulette {
    display: flex;
    flex-direction: column!important;
    align-items: center;
  }
  body .roulette {
    width: 100%!important;
  }
  .Roulette .chat {
    width: 50%!important;
  }
  .Roulette .chat {
    margin-left: 0!important;
    margin-top: 20px;
  }
  .roulette-set-bet {
    flex-direction: column!important;
}
  .roulette-set-bet .form-group {
    width: 100%!important;
    margin-top: 10px;
  }
  .roulette-set-bet .form-group:nth-child(1) input {
    width: 100%!important;
  }
}
@media only screen and (max-width: 548px) {
  .roulette-set-bet .btn {
    width: 30%;
    margin: 10px;
  }
  .Roulette .chat {
    width: 100%!important;
}
}
@media only screen and (max-width: 458px) {
  .rollsHistory {
    left: 20%!important;
  }
}