<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="loginModal">Login</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
             <div class="form-group"><label for="LUsername">Username:</label><input class="form-control" id="LUsername" type="text" autocomplete="off"/></div>
             <div class="form-group"><label for="LPassword">Password:</label><input class="form-control" id="LPassword" type="password" autocomplete="off"/></div>
          </div>
          <div class="modal-footer"><button class="btn btn-secondary" type="button" id="goto_register_btn"><i class="fas fa-user-plus"></i> Register</button><button class="btn btn-primary" type="button" id="login_btn"><i class="fas fa-sign-in-alt"></i> Login</button></div>
       </div>
    </div>
 </div>
 <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="registerModal">Register</h5>
             <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
             <div class="form-group"><label for="RUsername">Username:</label><input class="form-control" id="RUsername" type="text" autocomplete="off"/></div>
             <div class="form-group"><label for="REmail">Email:</label><input class="form-control" id="REmail" type="text" autocomplete="off"/></div>
             <div class="form-group"><label for="RPassword">Password:</label><input class="form-control" id="RPassword" type="password" autocomplete="off"/></div>
             <div class="form-group"><label for="RPassword2">Confirm Password:</label><input class="form-control" id="RPassword2" type="password" autocomplete="off"/></div>
          </div>
          <div class="modal-footer"><button class="btn btn-secondary" type="button" id="register_btn"><i class="fas fa-user-plus"></i> Register</button></div>
       </div>
    </div>
 </div>